// Заголовки, общие БЭМ блоки и проче...
.title {
    font-family: "Playfair Display", sans-serif;
    @include adaptiveValue("font-size", 32, 20);
    font-weight: 400;
    line-height: 130%;
    color: #1b1a17;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.8s ease;
    .filter-open & {
        pointer-events: auto;
        opacity: 1;
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.arrow {
    position: relative;
    width: 30px;
    height: 30px;
    &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 10px;
        height: 10px;
        cursor: pointer;
        border-bottom: 1px solid #1b1a17;
        border-left: 1px solid #1b1a17;
        transition: all 0.3s ease 0s;
    }
    @media (any-hover: hover) {
        &:hover {
            &:not([disabled]) {
                &::before {
                    border-color: $lightbrownColor;
                }
            }
        }
    }
    &[disabled] {
        &::before {
            border-color: $silverColor;
        }
    }
    &_left {
        &::before {
            transform: rotate(45deg) translate(-50%, -20%);
        }
        &:active {
            &:not([disabled]) {
                &::before {
                    left: 40%;
                }
            }
        }
    }
    &_right {
        &::before {
            transform: rotate(-135deg) translate(90%, -20%);
        }
        &:active {
            &:not([disabled]) {
                &::before {
                    left: 60%;
                }
            }
        }
    }
    &_big {
        &::before {
            width: 14px;
            height: 14px;
        }
    }
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 30%;
    &_facebook {
        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: #4267b2;
                }
            }
        }
    }
    &_instagram {
        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: #e1306c;
                }
            }
        }
    }
    &_twitter {
        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: #1da1f2;
                }
            }
        }
    }
    svg {
        width: 24px;
        height: 24px;
        pointer-events: none;
        fill: #5c5c50;
        transition: all 0.3s ease;
    }
}

// =====================================================================================================================
.breadcrumbs {
    height: rem(22);
    margin-bottom: 30px;
    overflow: auto;
    white-space: nowrap;
    &__list {
        display: flex;
        gap: 34px;
    }
    &__item {
        font-weight: 500;
    }
    &__link {
        position: relative;
        display: flex;
        align-items: center;
        opacity: 0.5;
        &::after {
            content: " ";
            position: absolute;
            top: 50%;
            right: -25px;
            display: block;
            width: 5px;
            height: 5px;
            pointer-events: none;
            border-bottom: 1px solid $mainColor;
            border-left: 1px solid $mainColor;
            transform: rotate(-135deg) translate(90%, -20%);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// =====================================================================================================================
.product-card {
    display: grid;
    padding: 10px 20px 20px 20px;
    background-color: $bgColor;
    transition: box-shadow 0.5s ease;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
        }
    }
    &__actions {
        display: flex;
        gap: 5px;
        align-items: center;
    }
    &__title {
        flex: 1 1 auto;
        font-weight: 700;
        color: $greyColor;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    &__title-link {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $brownColor;
            transition: transform 0.3s ease-out;
            transform: scaleX(0);
            transform-origin: bottom right;
        }
        @media (any-hover: hover) {
            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
    &__favorite {
        &.active {
            fill: red;
        }
    }
    &__price {
        color: #636261;
    }
    &__image-item-ibg {
        display: block;
        padding-bottom: percent(225, 212);
        .watchbands__slide & {
            padding-bottom: percent(290, 323);
        }
    }
}

// =====================================================================================================================
.pagging {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(20);
        height: rem(30);
        color: #b6b6b6;
        border-radius: 50%;
        transition: all 0.3s ease;
        &._active {
            color: $mainColor;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }
}
