// ====================================================================================================
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    transition: all 0.3s, padding-right 0s;
    &._header-scroll {
        background-color: rgba($color: $bgColor, $alpha: 0.9);
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 96px;
        padding: 5px 160px;
        margin: 0 auto;
        opacity: 0;
        @media (max-width: em(1399.98)) {
            padding: 5px 15px;
        }
        &._watcher-view {
            opacity: 1;
            transition: all 2s ease 0s;
        }
    }
    &__main {
        display: flex;
        @include adaptiveValue("gap", 16, 5);
    }
    &__logo {
        display: flex;
        gap: 4px;
        align-items: center;
        font-family: "Playfair Display", sans-serif;
        font-size: rem(12);
        font-weight: 400;
        line-height: 130%;
        color: #555248;
        text-transform: uppercase;
        letter-spacing: 0.14em;
    }
}

.menu {
    &__body {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 0;
        height: 0;
        overflow: hidden;
        background: radial-gradient(circle, rgba($color: #eee8da, $alpha: 0.5), rgba($color: #eee8da, $alpha: 0.5));
        border-radius: 50%;
        transition: all 0.3s ease;
        @media (max-width: $mobile) {
            background: radial-gradient(circle, rgba($color: #eee8da, $alpha: 0.97), rgba($color: #eee8da, $alpha: 0.97));
        }
        .menu-open & {
            width: 520px;
            height: 460px;
            transform: translate(-60%, -30%);
        }
    }
    &__list {
        display: none;
        flex-direction: column;
        row-gap: rem(20);
        margin: 90px 90px 0 0;
        font-family: "Playfair Display", sans-serif;
        @media (max-width: em(1399.98)) {
            margin: 150px 100px 0 0;
        }
        .menu-open & {
            display: flex;
        }
    }
    &__link {
        position: relative;
        padding: 5px 0;
        font-size: rem(18);
        transition: all 0.3s ease;
        @media (any-hover: hover) {
            &:hover {
                color: $lightbrownColor;
            }
        }
    }
}

// ====================================================================================================
// Burger

.icon-menu {
    position: relative;
    z-index: 5;
    box-sizing: content-box;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 30%;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: #eee8da;
        }
    }
    @media (any-hover: none) {
        &:active {
            background-color: #eee8da;
        }
    }
    span,
    &::before,
    &::after {
        content: "";
        position: absolute;
        right: 11px;
        width: 18px;
        height: rem(2);
        background-color: #8c8b89;
        border-radius: 1px;
        transition: all 0.3s ease 0s;
    }
    &::before {
        top: 12px;
    }
    &::after {
        bottom: 12px;
    }
    span {
        top: calc(50% - rem(1));
    }
    .menu-open & {
        span {
            width: 0;
        }
        &::before,
        &::after {
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}
