// ====================================================================================================
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    transition: all 0.3s, padding-right 0s;
    .wrapper-catalog & {
        position: relative;
        margin-bottom: 20px;
    }
    &._header-scroll {
        background-color: rgba($color: $bgColor, $alpha: 0.9);
    }
    &__wrapper {
        .wrapper-catalog & {
            box-sizing: content-box;
            max-width: 73.125rem;
            padding: 0 0.9375rem;
            margin: 0 auto;
        }
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 96px;
        padding: 5px 160px;
        margin: 0 auto;
        opacity: 0.3;
        @media (max-width: em(1399.98)) {
            padding: 5px 15px;
        }
        @media (min-width: $tablet) {
            .wrapper-catalog & {
                gap: rem(20);
            }
        }
        &._watcher-view {
            opacity: 1;
            transition: opacity 2s ease 0s;
        }
        .wrapper-catalog & {
            padding: 0;
        }
    }
    &__main {
        display: flex;
        @include adaptiveValue("gap", 16, 5);
        @media (min-width: $tablet) {
            .wrapper-catalog & {
                flex: 1 1 70%;
                gap: 0;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__actions {
        display: flex;
        gap: 5px;
        @media (min-width: $tablet) {
            .wrapper-catalog & {
                flex: 1 1 30%;
                justify-content: flex-end;
                min-width: 375px;
            }
        }
    }
    &__logo {
        display: flex;
        gap: 4px;
        align-items: center;
        font-family: "Playfair Display", sans-serif;
        font-size: rem(12);
        font-weight: 400;
        line-height: 130%;
        color: #555248;
        text-transform: uppercase;
        letter-spacing: 0.14em;
    }
}

.menu {
    @media (min-width: $tablet) {
        .wrapper-catalog & {
            order: 1;
        }
    }
    &__item {
        &:nth-child(1) {
            @media (min-width: $tablet) {
                .wrapper-catalog & {
                    display: none;
                }
            }
        }
    }
    &__body {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        width: 0;
        height: 0;
        overflow: hidden;
        background: radial-gradient(circle, rgba($color: #eee8da, $alpha: 0.5), rgba($color: #eee8da, $alpha: 0.5));
        border-radius: 50%;
        transition: all 0.3s ease;
        @media (max-width: $tablet) {
            background: radial-gradient(circle, rgba($color: #eee8da, $alpha: 0.97), rgba($color: #eee8da, $alpha: 0.97));
        }
        @media (min-width: $tablet) {
            .wrapper-catalog & {
                position: relative;
                flex-direction: row;
                width: auto;
                height: auto;
                background: none;
                border-radius: 0;
            }
        }
        .menu-open & {
            width: 520px;
            height: 460px;
            transform: translate(-60%, -30%);
            @media (max-width: em(600)) {
                transform: translate(-66%, -27%);
            }
        }
    }
    &__list {
        display: none;
        flex-direction: column;
        margin: 90px 90px 0 0;
        font-family: "Playfair Display", sans-serif;
        @media (max-width: em(1399.98)) {
            margin: 140px 95px 0 0;
        }
        @media (max-width: em(600)) {
            margin: 115px 65px 0 0;
        }
        @media (min-width: $tablet) {
            .wrapper-catalog & {
                display: flex;
                flex-direction: row;
                margin: 0;
                font-family: "Roboto", sans-serif;
                @include adaptiveValue("column-gap", 65, 30, 1170, 991, 1);
            }
        }
        .menu-open & {
            display: flex;
        }
    }
    &__link {
        position: relative;
        display: block;
        padding: 10px 0;
        font-size: rem(18);
        transition: all 0.3s ease;
        @media (min-width: $tablet) {
            .wrapper-catalog & {
                font-size: rem(14);
                color: #555248;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: #a69876;
            }
        }
        .wrapper-catalog & {
            &.active {
                color: #a69876;
            }
        }
    }
}

// ====================================================================================================
// Burger

.icon-menu {
    position: relative;
    z-index: 5;
    box-sizing: content-box;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 30%;
    transition: all 0.3s ease 0s;
    @media (min-width: $tablet) {
        .wrapper-catalog & {
            display: none;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: #eee8da;
        }
    }
    @media (any-hover: none) {
        &:active {
            background-color: #eee8da;
        }
    }
    .wrapper-catalog & {
        width: 30px;
    }
    span,
    &::before,
    &::after {
        content: "";
        position: absolute;
        right: 11px;
        width: 18px;
        height: rem(2);
        background-color: #8c8b89;
        border-radius: 1px;
        transition: all 0.3s ease 0s;
    }
    &::before {
        top: 12px;
    }
    &::after {
        bottom: 12px;
    }
    span {
        top: calc(50% - rem(1));
    }
    .menu-open & {
        span {
            width: 0;
        }
        &::before,
        &::after {
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}
