.intro {
    height: 1px;
    background-color: $bgColor;
    &__container {
        display: flex;
        height: 100%;
    }
    &__desc {
        z-index: 3;
        flex: 0 0 50%;
        padding: 240px 0 0 85px;
        opacity: 0;
        transform: translate(25%, 0);
        @media (max-width: $tablet) {
            flex: 0 0 55%;
        }
        @media (max-width: $mobile) {
            padding: 200px 0 0 10px;
        }
        @media (max-width: $mobileSmall) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 0;
        }
        &._watcher-view {
            opacity: 1;
            transition: all 1s ease 0s;
            transform: translate(0, 0);
        }
    }
    &__collection {
        position: relative;
        font-family: "Playfair Display", sans-serif;
        @include adaptiveValue("font-size", 45, 22);
        line-height: 130%;
        color: #1b1a17;
        &::before {
            content: "";
            position: absolute;
            top: 60%;
            left: -68px;
            width: 50px;
            height: 1px;
            background-color: $brownColor;
            transform: translate(20%, 0);
            @media (max-width: $mobile) {
                display: none;
            }
        }
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        ._watcher-view & {
            &::before {
                transition: all 1s ease 0s;
                transform: translate(0, 0);
            }
        }
    }
    &__title {
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }
    &__text {
        max-width: 250px;
        font-weight: 300;
        line-height: 150%;
        color: rgba(27, 26, 23, 0.82);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 55, 30);
        }
    }
    &__img {
        position: relative;
        flex: 0 0 50%;
        height: 100%;
        padding-top: 16px;
        opacity: 0;
        transform: translate(10%, 0);
        @media (max-width: $tablet) {
            flex: 0 0 45%;
            padding-top: 0;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 35%;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: url("@img/main-page/intro/ellipse.svg") no-repeat left/contain;
            transform: translate(7%, 0);
            @media (max-width: $tablet) {
                background-size: cover;
            }
        }
        &._watcher-view {
            opacity: 1;
            transition: all 1s ease 0s;
            transform: translate(0, 0);
            &::before {
                transition: all 1s ease 0s;
                transform: translate(0, 0);
            }
        }
        img {
            position: relative;
            z-index: 2;
            height: 100%;
            @media (max-width: $tablet) {
                top: 50%;
                max-width: 430px;
                height: auto;
                transform: translate(0, -50%);
            }
            @media (max-width: $mobile) {
                max-width: 350px;
            }
            @media (max-width: $mobileSmall) {
                transform: translate(-5%, -50%);
            }
        }
    }
    &__price {
        position: absolute;
        top: 20%;
        left: -15%;
        z-index: 2;
        font-family: "Prata", sans-serif;
        font-size: rem(16);
        line-height: 22px;
        color: #1b1a17;
        opacity: 0;
        transform: translate(-120%, 0);
        @media (max-width: $tablet) {
            left: -10%;
            font-size: rem(14);
        }
        @media (max-width: $mobileSmall) {
            left: -13%;
        }
        @media
            only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px)
            and (min-device-height: 900px) {
            top: 33%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -65px;
            width: 50px;
            height: 1px;
            background-color: $brownColor;
            transform: translate(-20%, -100%);
        }
        &._watcher-view {
            opacity: 1;
            transition: all 1s ease 0.5s;
            transform: translate(0, 0);
            &::after {
                transition: all 1s ease 0.5s;
                transform: translate(0, -100%);
            }
        }
    }
    &__size {
        position: absolute;
        top: 80%;
        left: 60vh;
        z-index: 2;
        width: 140px;
        font-family: "Prata", sans-serif;
        font-size: rem(16);
        line-height: 22px;
        color: #1b1a17;
        opacity: 0;
        transform: translate(120%, 0);
        @media (max-width: $pc) {
            top: 75%;
            left: -50px;
        }
        @media (max-width: $tablet) {
            font-size: rem(14);
        }
        @media (max-width: $mobileSmall) {
            left: -60px;
        }
        @media
            only screen 
            and (min-device-width: 768px) 
            and (max-device-width: 1024px)
            and (min-device-height: 900px) {
            top: 67%;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -65px;
            width: 50px;
            height: 1px;
            background-color: $brownColor;
            transform: translate(20%, -100%);
            @media (max-width: $pc) {
                left: 135px;
            }
            @media (max-width: $tablet) {
                left: 120px;
                width: 25px;
            }
        }
        &._watcher-view {
            opacity: 1;
            transition: all 1s ease 1s;
            transform: translate(0, 0);
            &::before {
                transition: all 1s ease 1s;
                transform: translate(0, -100%);
            }
        }
    }
}
